@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(111, 160, 233), rgb(113, 111, 233));
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
    margin: 0;
}

.link {
    font-family: 'Yaldevi', sans-serif;
    text-decoration: none;
    color: #000;
}

.link:hover {
  color: white;
}

form {
  width: 33%;
  text-align: center;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit {
  padding: 3%;
  background-color: rgb(48, 165, 77);
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
  opacity: 0.5;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.5);
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: .75em;
  right: 0%;
}

.icon {
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}

.inline {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

input[type=submit] {
  background-color: rgb(48, 165, 77);
  border: none;
  outline: none;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: .5%;
  border-radius: 5px;
}
input[type=submit]:hover {
  opacity: .5;
}

button {
  outline: none;
  border: none;
  background-color: rgb(48, 165, 77);
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: .5;
}

.btn {
  padding: 10%;
}

table {
  margin-left: 25%;
  margin-right: 25%;
}

td {
  text-indent: 2em;
}




